{% extends 'base.html.twig' %}

{% block title %}Apropos{% endblock %}

{% block body %}
<body>
    <h1 class="text-primary text-center">MEDICAL INTERNATIONAL S.A.R.L</h1> 
    <div class="container text-secondary" style="text-align: justify;">
        <p style="text-indent:10%">  La qualité des soins à Madagascar préoccupe de plus en plus les citoyens et afin de rehausser le niveau de sa qualité, Medical International propose des gammes de produits pas seulement aux professionnels de la santé que ce soit public ou privé mais aussi les ONG, opérant à l’étranger ou dans la région et les particuliers souhaitant s’équiper de matériels médicaux et laboratoires.</br></p>
        <p style="text-indent:10%">  Créée en 1994, Médical International SARL a bâti sa réputation d’une part sur la qualité des produits commercialisés et d’autre part sur la qualité de son service après-vente. Elle bénéficie   de   l’apport de   sa maison   mère, <a href="https://ducray-lenoir.com">Ducray Lenoir Ltd</a> située   à l’Ile   Maurice, qui est un acteur majeur au niveau de la santé dans de nombreux pays de la région. </br></p>
        <p style="text-indent:10%">  Elle est spécialisée dans la vente et service après-vente de matériels médicaux et laboratoires et ainsi que les consommables. </br> </p>
        <p style="text-indent:10%">  Avec le développement du secteur de l’industrie à Madagascar et les recherches y afférents, Médical International SARL a décidé en 2014 de créer la division laboratoire industriel ou Labotech qui s’occupe généralement de tous les équipements, consommables et réactifs de laboratoire pour les industries agroalimentaires, minières et pétrolières, textiles, eau et environnement, Bâtiments et Travaux Publics, et qui bénéficie de l’appui de notre service technique assurant la pérennité des appareils. </br></p>
        <p style="text-indent:10%">  Soigneusement sélectionnés et réputés mondialement, Médical International SARL travaille avec plusieurs partenaires qui peuvent fournir différentes gammes de produits à la portée de toutes les bourses que ce soit de qualité européenne ou asiatique ou autres. </p>       
        <p style="text-indent:10%">  Nos techniciens suivent régulièrement des formations auprès de nos fournisseurs pour prodiguer le meilleur conseil pour vos projets.</p>
    </div>
    <div class="container py-3">
        <h6 class="text-primary mb-3">	Nos contacts : </h6> 
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header text-center"><h5>SERVICE COMMERCIAL</h5></div>
                    <div class="card-body">
                        <img src="{{ asset("Images/Avatar.jpg") }}" alt="Avatar1" class="img-fluid float-end rounded-circle rounded-full" style="height:100px;width:100px;">
                        <h6 class="card-title">Lucienne RAVONIHANTAMALALA</h6>
                        <p class="card-text">Tél. : 034 07 159 18</p>
                        <p class="card-text">Mail : lucienne@medical-inter.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center"><h5>LABOTECH</h5></div>
                    <div class="card-body">
                        <img src="{{ asset("Images/Avatar.jpg") }}" alt="Avatar2" class="img-fluid float-end rounded-circle rounded-full" style="height:100px;width:100px;">
                        <h6 class="card-title">Miando </br>RAMANANTANY</h6>
                        <p class="card-text">Tél. : 038 71 226 50</p>
                        <p class="card-text">Mail : miando@medical-inter.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary-subtle mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center text-primary"><h5>SERVICE APRES - VENTE</h5></div>
                    <div class="card-body text-primary">
                        <img src="{{ asset("Images/Avatar.jpg") }}" alt="Avatar3" class="img-fluid float-end rounded-circle rounded-full" style="height:100px;width:100px;">
                        <h6 class="card-title">Hariniaina RAHABOARIMANANA</h6>
                        <p class="card-text">Tél. : 034 07 159 21</p>
                        <p class="card-text">Mail : hariniaina@medical-inter.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3 mb-3">
        <div class="row">
            <div class="col-md-4">
                <i class="bi bi-globe2 fs-4 float-start"></i>
                <h3 class="fs-2 text-primary text-center">Vision</h3>
                <p class="text-secondary"  style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-book fs-4 float-start"></i>
                <h3 class="fs-2 text-primary text-center">Mission</h3>
                <p class="text-secondary"  style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-pencil-fill fs-4 float-start"></i>
                <h3 class="fs-2 text-primary text-center">Valeur</h3>
                <p class="text-secondary"  style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}
