
    {% if Unread.annonces %}
        <div class="hold">
            <div class="bandef text-danger">
                {{Unread.annonces.content}}                   
            </div> 
        </div>
    {% endif %} 