
<h1 style="color:rgba(4, 133, 202, 0.824);"> {{email.subject}} </h1>
<p style="color:gray;">Nom:{{Nom}} </p>
<p style="color:#333;">Adresse Email: {{email.from[0].address}}</p>
<p style="color:#333;">Téléphone:{{PhoneNumber}}</p>
