
<h1 style="color:rgba(4, 133, 202, 0.824);">Réinitialisation de mot de passe!</h1>
<p style="color:gray;">Bonjour {{user.email}} pour votre demande de réinitialisation de mot de passe sur Médical International
    veuillez cliquer sur le lien suivant :<a style="color:rgba(4, 133, 202, 0.824);" href="{{url|raw}}">{{url|raw}}</a>
</p>
<p style="color:#333;"><strong>Merci!!!</strong></p>
       
