
.produit_btn {
  position: absolute;
  top: 120px;
  left: auto;
  bottom: 100%;
  right: 50%;
  padding-bottom: 0.25rem;
  z-index: 2;
}

.btn-outline-primary {
  color: rgb(24, 17, 17);
  border-color: rgb(24, 17, 17);
}
.btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: rgb(24, 17, 17);
  border-color: rgb(24, 17, 17);
}

.btn:not(:disabled):not(.o_wysiwyg_loader):not(.disabled) {
  cursor: pointer;
}
.produit_btn .btn {
  padding: 0.375rem 0.75rem;
  line-height: 32px;
  transform: scale(0);
  opacity: 0;
  transition: transform ease 200ms 0s, opacity ease 50ms;
}

.card:hover .produit_btn .btn {
  transform: scale(1);
  opacity: 1;
}