
.produit_btn {
  position: absolute;
  top: 120px;
  left: auto;
  bottom: 100%;
  right: 50%;
  padding-bottom: 0.25rem;
  z-index: 2;
}

.produit_btn .btn {
  padding: 0.375rem 0.75rem;
  line-height: 32px;
  transform: scale(0);
  opacity: 0;
  transition: transform ease 200ms 0s, opacity ease 50ms;
}

.card:hover .produit_btn .btn {
  transform: scale(1);
  opacity: 1;
}