    /* datatables */
  .datatable-table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
  }
  .datatable-table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  .datatable-table > tbody {
    vertical-align: inherit;
  }
  .datatable-table > thead {
    vertical-align: bottom;
  }
  
  .datatable-table > :not(caption) > * {
    border-width: 1px 0;
  }
  .datatable-table > :not(caption) > * > * {
    border-width: 0 1px;
  }
  .datatable-table > tbody > tr:hover > * {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
  }
  .datatable-wrapper .datatable-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .datatable-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .datatable-input {
      transition: none;
    }
  }
  [type=file].datatable-input {
    overflow: hidden;
  }
  [type=file].datatable-input:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  .datatable-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .datatable-input::-webkit-date-and-time-value {
    height: 1.5em;
  }
  .datatable-input::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .datatable-input::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .datatable-input:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
  .datatable-input::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
            margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .datatable-input::file-selector-button {
      transition: none;
    }
  }
  .datatable-input:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
  }
  textarea.datatable-input {
    min-height: calc(1.5em + 0.75rem + 2px);
  }
  .datatable-selector {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .datatable-selector {
      transition: none;
    }
  }
  .datatable-selector:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  [multiple].datatable-selector,[size].datatable-selector:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
  }
  .datatable-selector:disabled {
    background-color: #e9ecef;
  }
 .datatable-selector:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #212529;
  }
  .input-group > .datatable-input,
  .input-group > .datatable-selector {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
  .input-group > .datatable-input:focus,
  .input-group > .datatable-selector:focus {
    z-index: 5;
  }
  .input-group-lg > .datatable-input,
  .input-group-lg > .datatable-selector{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
  }
  
  .input-group-sm > .datatable-input,
  .input-group-sm > .datatable-selector {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
  
  .input-group-lg > .datatable-selector,
  .input-group-sm > .datatable-selector {
    padding-right: 3rem;
  }
  

  .input-group:not(.has-validation) > .form-floating:not(:last-child) > .datatable-input,
  .input-group:not(.has-validation) > .form-floating:not(:last-child) > .datatable-selector {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group.has-validation > .form-floating:nth-last-child(n+3) > .datatable-input,
  .input-group.has-validation > .form-floating:nth-last-child(n+3) > .datatable-selector {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group > .form-floating:not(:first-child) > .form-control, .input-group > .form-floating:not(:first-child) > .datatable-input,
  .input-group > .form-floating:not(:first-child) > .datatable-selector {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .datatable-pagination ul {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  .datatable-pagination button {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: black;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .datatable-pagination button {
      transition: none;
    }
  }
  .datatable-pagination button:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
  }
  .datatable-pagination button:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow);
  }
  .datatable-pagination button.active, .datatable-pagination .active > button {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
  }
  .datatable-pagination button.disabled, .datatable-pagination .disabled > button {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
  }
  
  .page-item:not(:first-child) .datatable-pagination button, .datatable-pagination .page-item:not(:first-child) button, .datatable-pagination li:not(:first-child) .page-link, .datatable-pagination li:not(:first-child) button {
    margin-left: -1px;
  }
 .page-item:first-child .datatable-pagination button, .datatable-pagination .page-item:first-child button, .datatable-pagination li:first-child .page-link, .datatable-pagination li:first-child button {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
  }
  .page-item:last-child .datatable-pagination button, .datatable-pagination .page-item:last-child button, .datatable-pagination li:last-child .page-link, .datatable-pagination li:last-child button {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
  }
  
  /* edit-datatables */
  .datatable-wrapper .datatable-container {
    font-size: 0.875rem;
  }
  
  .datatable-wrapper.no-header .datatable-container {
    border-top: none;
  }
  
  .datatable-wrapper.no-footer .datatable-container {
    border-bottom: none;
  }
  
  .datatable-top {
    padding: 0 0 1rem;
  }
  
  .datatable-bottom {
    padding: 0;
  }
  
  .datatable-top > nav:first-child,
  .datatable-top > div:first-child,
  .datatable-bottom > nav:first-child,
  .datatable-bottom > div:first-child {
    float: left;
  }
  
  .datatable-top > nav:last-child,
  .datatable-top > div:last-child,
  .datatable-bottom > nav:last-child,
  .datatable-bottom > div:last-child {
    float: right;
  }
  
  .datatable-selector {
    width: auto;
    display: inline-block;
    padding-left: 1.125rem;
    padding-right: 2.125rem;
    margin-right: 0.25rem;
  }
  
  .datatable-info {
    margin: 7px 0;
  }
  
  /* PAGER */
  .datatable-pagination button:hover {
    background-color: #e9ecef;
  }
  
  .datatable-pagination .active button,
  .datatable-pagination .active button:focus,
  .datatable-pagination .active button:hover {
    background-color: #0d6efd;
  }
  
  .datatable-pagination .ellipsis button,
  .datatable-pagination .disabled button,
  .datatable-pagination .disabled button:focus,
  .datatable-pagination .disabled button:hover {
    cursor: not-allowed;
  }
  
  .datatable-pagination .disabled button,
  .datatable-pagination .disabled button:focus,
  .datatable-pagination .disabled button:hover {
    cursor: not-allowed;
    opacity: 0.4;
  }
  
  .datatable-pagination .pager button {
    font-weight: bold;
  }
  
  /* TABLE */
  .datatable-table {
    border-collapse: collapse;
  }
  
  .datatable-table > tbody > tr > td,
  .datatable-table > tbody > tr > th,
  .datatable-table > tfoot > tr > td,
  .datatable-table > tfoot > tr > th,
  .datatable-table > thead > tr > td,
  .datatable-table > thead > tr > th {
    vertical-align: top;
    padding: 0.5rem 0.5rem;
  }
  
  .datatable-table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
    border-bottom: none;
  }
  
  .datatable-table > tfoot > tr > th {
    vertical-align: bottom;
    text-align: left;
  }
  
  .datatable-table th {
    vertical-align: bottom;
    text-align: left;
  }
  
  .datatable-table th a {
    text-decoration: none;
    color: inherit;
  }
  
  .datatable-sorter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
    padding-right: 1rem;
  }
  
  .datatable-sorter::before,
  .datatable-sorter::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.2;
  }
  
  .datatable-sorter::before {
    bottom: 4px;
  }
  
  .datatable-sorter::after {
    top: 0px;
  }
  
  .asc .datatable-sorter::after,
  .desc .datatable-sorter::before {
    opacity: 0.6;
  }
  
  .datatables-empty {
    text-align: center;
  }
  
  .datatable-top::after,
  .datatable-bottom::after {
    clear: both;
    content: " ";
    display: table;
  }
  
  .datatable-pagination li.datatable-hidden {
    visibility: visible;
  }
  
  .btn-datatable {
    height: 20px !important;
    width: 20px !important;
    font-size: 0.75rem;
    border-radius: 0.375rem !important;
  }